<div class="todo-list">
  <div class="todo-form">
    <div class="subtitle">New objective</div>
    <div class="form-content">
      <input placeholder="Write what you want to do.." type="text" #value>
      <input style="width: 80px;" placeholder="Hrs" type="number" #hours>
      <input style="width: 80px;" placeholder="Min" type="number" #minutes>
      <button (click)="addTodo(value, hours, minutes)">Add</button>
    </div>
  </div>
  <div class="todos">
    <div class="todo-section" *ngIf="todo.current.length > 0">
      <div class="subtitle">Current todos · {{todo.current.length}}</div>
      <div class="todo-items">
        <div class="todo-item" *ngFor="let item of todo.current; let i = index" (click)="move('completed', i)">
          <div class="todo-status"></div>
          <div class="todo-objective">{{item.objective}}</div>
          <div class="date">{{item.transfromDate()}}</div>
        </div>
      </div>
    </div>
    <div class="todo-section" *ngIf="todo.completed.length > 0">
      <div class="subtitle">Completed todos · {{todo.completed.length}}</div>
      <div class="todo-items">
        <div class="todo-item completed" *ngFor="let item of todo.completed let i = index" (click)="move('current', i)">
          <div class="todo-status"></div>
          <div class="todo-objective">{{item.objective}}</div>
          <div class="date">{{item.transfromDate()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>