<div class="todo-list">
  <div class="todo-form">
    <div class="subtitle">New objective</div>
    <div class="form-content">
      <input placeholder="Write what you want to do..">
      <button>Add</button>
    </div>
  </div>
  <div class="todos">
    <div class="todo-section">
      <div class="subtitle">Current todos · 2</div>
      <div class="todo-items">
        <div class="todo-item">
          <div class="todo-status"></div>
          <div class="todo-objective">Read a book</div>
        </div>
        <div class="todo-item">
          <div class="todo-status"></div>
          <div class="todo-objective">Go for a walk</div>
        </div>
      </div>
    </div>
    <div class="todo-section">
      <div class="subtitle">Completed todos · 2</div>
      <div class="todo-items">
        <div class="todo-item completed">
          <div class="todo-status"></div>
          <div class="todo-objective">Watch a new youtube poop</div>
        </div>
        <div class="todo-item completed">
          <div class="todo-status"></div>
          <div class="todo-objective">Walk the dog</div>
        </div>
      </div>
    </div>
  </div>
</div>