<div class="screen">
  <div class="layout">
    <div class="app widget large">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
    <div class="app">
      <div class="icon"></div>
    </div>
  </div>
</div>
