.state {
    display: flex;
    padding: 10px;
    margin: 8px;
    background: #f0f0f0;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 50vw;
}
.edit{
    margin-left: auto;
}