:host {
  display: block;
  width: 100vw;
  height: 100%;

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .text {
      padding: 20px 0px;
      font-weight: 800;
    }

    .color {
      width: 100px;
      aspect-ratio: 1/1;
      background: gray;
    }

    .person {
      background: lightblue;
      padding: 10px;
      margin-bottom: 10px;

      // class="person accent"
      &.accent {
        background: red;
        color: green;
      }
    }
  }
}
