View mode
<div class="profile">
  <div class="line">
    <div class="avatar">SP</div>
    <div class="info">
      <div class="name">Sam Pirumov <span>@sam</span></div>
      <div class="birthday">27 years</div>
    </div>
    <div class="button">Edit</div>
  </div>
  <div class="switch">
    <div class="case active">Following</div>
    <div class="case">Followers</div>
  </div>
  <div class="list">
    <div class="mini-profile">
      <div class="avatar">VS</div>
      <div class="info">
        <div class="name">Vladimir Simonov <span>@vlad</span></div>
        <div class="birthday">26 years</div>
      </div>
      <div class="button">Unfollow</div>
    </div>
    <div class="mini-profile">
      <div class="avatar">JK</div>
      <div class="info">
        <div class="name">Jeff Kaplan <span>@jeff</span></div>
        <div class="birthday">48 years</div>
      </div>
      <div class="button">Unfollow</div>
    </div>
  </div>
</div>
<br>
Edit mode
<div class="profile">
  <div class="line">
    <div class="avatar">SP</div>
    <div class="info">
      <input type="text" class="name" value="Sam Pirumov">
      <input type="date" class="birthday" value="1994-04-18">
    </div>
    <div class="button">Save</div>
  </div>
  <div class="switch">
    <div class="case active">Following</div>
    <div class="case">Followers</div>
  </div>
  <div class="list">
    <div class="mini-profile">
      <div class="avatar">VS</div>
      <div class="info">
        <div class="name">Vladimir Simonov <span>@vlad</span></div>
        <div class="birthday">26 years</div>
      </div>
      <div class="button">Unfollow</div>
    </div>
    <div class="mini-profile">
      <div class="avatar">JK</div>
      <div class="info">
        <div class="name">Jeff Kaplan <span>@jeff</span></div>
        <div class="birthday">48 years</div>
      </div>
      <div class="button">Unfollow</div>
    </div>
  </div>
</div>