<!-- View mode -->
<div class="profile">
  <div class="line">
    <div class="avatar">{{user.letters}}</div>
    <div class="info" *ngIf="edit == false">
      <div class="info-content">
        <div class="name">{{ user.fullname }}<span>@{{user.username}}</span></div>
        <div class="birthday">{{user.age + " years old"}}</div>
      </div>
      <div class="button" (click)="editProfile()">Edit</div>
    </div>
    <div class="info" *ngIf="edit == true">
      <div class="info-content">
        <input type="text" class="name" [value]="user.fullname" #value>
        <input type="text" class="birthday" [attr.value]="date" #bday>
      </div>
      <div class="button" (click)="saveProfile(value, bday)">Save</div>
    </div>
  </div>
  <div class="switch">
    <div class="case" [ngClass]="{'active': section == 'following'}" (click)="section = 'following'">Following</div>
    <div class="case" [ngClass]="{'active': section == 'followers'}" (click)="section = 'followers'">Followers</div>
  </div>
  <div class="list">
    <div class="mini-profile" *ngFor="let person of user[section]">
      <div class="avatar">{{ person.letters }}</div>
      <div class="info">
        <div class="name">{{person.fullname}} <span>@{{person.username}}</span></div>
        <div class="birthday">{{person.age}} years old</div>
      </div>
      <div class="button" (click)="unfollow(person.username)" *ngIf="ifFollow(person.username)">Unfollow</div>
      <div class="button" (click)="follow(person.username)" *ngIf="!ifFollow(person.username)">Follow back</div>
    </div>
  </div>
</div>
<!-- Edit mode -->
<!-- <div class="profile" *ngIf="edit == true">
  <div class="line">
    <div class="avatar">{{user.letters}}</div>
    <div class="info">
      <input type="text" class="name" [value]="user.fullname" #value>
      <input type="text" class="birthday" [attr.value]="date" #bday>
    </div>
    <div class="button" (click)="saveProfile(value, bday)">Save</div>
  </div>
  <div class="switch">
    <div class="case active">Following</div>
    <div class="case">Followers</div>
  </div>
  <div class="list">
    <div class="mini-profile" *ngFor="let person of user[section]">
      <div class="avatar">{{ person.letters }}</div>
      <div class="info">
        <div class="name">{{person.fullname}} <span>@{{person.username}}</span></div>
        <div class="birthday">{{person.age}} years old</div>
      </div>
      <div class="button" (click)="unfollow(person.username)" *ngIf="ifFollow(person.username)">Unfollow</div>
      <div class="button" (click)="follow(person.username)" *ngIf="!ifFollow(person.username)">Follow back</div>
    </div>
  </div>
</div>-->