
:host {
  display: block;
  width: 600px;
  margin: 1rem auto;

  .button {
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      transform: scale(0.95);
    }
  }

  .profile {
    margin-top: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.625rem;
    background: #fff;
    box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.1);

    .name span {
      opacity: 0.5;
      font-size: 0.85em;
    }

    .line {
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid rgba(0,0,0,0.15);

      .avatar {
        width: 5rem;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        font-size: 2rem;
        background: rgba(31, 67, 248, 0.1);
        color: #1F42F8;
        border-radius: 50%;
      }

      .info {
        flex: 1;

        .name {
          font-size: 1.375rem;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
          border: none;
          padding: 0rem;
          outline: none;
        }

        .birthday {
          font-size: 1rem;
          color: #999;
          font-weight: 500;
          padding-top: 0.25rem;
          font-family: 'Montserrat', sans-serif;
          border: none;
          padding: 0rem;
          outline: none;
        }
      }
      
      .button {
        padding: 0.5rem 1rem;
        background: #1F42F8;
        border-radius: 2rem;
        font-weight: 600;
        color: #fff;
      }
    }

    .switch {
      display: flex;

      .case {
        padding: 16px 0px;
        flex: 1;
        text-align: center;
        font-weight: 600;
        border-bottom: 4px solid rgba(0,0,0,0.1);
        cursor: pointer;

        &.active {
          border-bottom-color: #1F42F8;
          color: #1F42F8;
        }
      }
    }

    .list {

      .mini-profile {
        padding: 1.5rem 0rem;
        margin: 0px 1.5rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        display: flex;
        gap: 1rem;
        align-items: center;

        &:last-child {
          border-bottom: 0px;
        }

        .avatar {
          width: 3.125rem;
          height: 3.125rem;
          text-align: center;
          line-height: 3.125rem;
          font-size: 1.25rem;
          background: rgba(31, 67, 248, 0.1);
          color: #1F42F8;
          border-radius: 50%;
        }
  
        .info {
          flex: 1;
  
          .name {
            font-size: 1rem;
            font-weight: 600;
          }
  
          .birthday {
            font-size: 0.8125rem;
            color: #999;
            font-weight: 500;
            padding-top: 0.125rem;
          }
        }

        .button {
          padding: 0.4rem 0.8rem;
          color: #f81f43;
          background: rgba(248, 31, 67, 0.15);
          border-radius: 2rem;
          font-size: 0.875rem;
          font-weight: 600;
        }
      }
    }
  }
}