<div class="container">
    <div class="memory">{{history}}</div>
    <div class="display">{{ans}}</div>
    <div class="numbers">
        <div class="button func" (click)="ans = '0'; clearMem()">AC</div>
        <div class="button func" (click)="changeSign()">+/-</div> 
        <div class="button func">%</div>
        <div class="button oper" (click)="operation = 'divide'; chng(operation);">/</div>
        <div class="button number" (click)="addNumber('7')">7</div>
        <div class="button number" (click)="addNumber('8')">8</div>
        <div class="button number" (click)="addNumber('9')">9</div>
        <div class="button oper" (click)="operation = 'multi'; chng(operation);">X</div>
        <div class="button number" (click)="addNumber('4')">4</div>
        <div class="button number" (click)="addNumber('5')">5</div>
        <div class="button number" (click)="addNumber('6')">6</div>
        <div class="button oper" (click)="operation = 'substr'; chng(operation);  ">-</div>
        <div class="button number" (click)="addNumber('1')">1</div>
        <div class="button number" (click)="addNumber('2')">2</div>
        <div class="button number" (click)="addNumber('3')">3</div>
        <div class="button oper" (click)="operation = 'sum'; chng(operation); ">+</div>
        <div class="button number zero" (click)="addNumber('0')">0</div>
        <div class="button number" (click)="addNumber('.')">.</div>
        <div class="button oper" (click)="equal()">= </div>
    </div>
</div>
